#aip-main {
  table {
    @extend .h-c-table--datatable;

    &.aip-listing {
      th:first-child {
        width: 125px;
      }
      td:first-child {
        width: 125px;
      }
      th:nth-child(3) {
        width: 125px;
      }
      td:nth-child(3) {
        width: 125px;
      }

      tr td {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

#aip-sidebar {
  table#aip-summary {
    background-color: $h-gm-grey-50;
    border: 1px solid $h-gm-grey-200;

    th {
      font-size: 14px;
      overflow: visible;
    }

    tr td {
      font-size: 12px;
      padding-top: 2px;
      padding-bottom: 2px;

      &:first-child {
        @extend .h-u-font-weight-bold;
        width: 60px;
      }
    }
  }
}
