@import 'colors';
@import 'hercules';

#aip-main {
  table {
    &:not(.no-h) {
      @extend .h-c-table--datatable;

      &.aip-listing {
        margin-top: 10px;
        tr:first-child {
          border-top: 2px solid $h-gm-grey-500;
        }
        th {
          display: none;
        }
        td {
          // The Number column.
          &:first-child {
            width: 70px;
          }

          // The State column.
          &:nth-child(3) {
            width: 125px;
          }
        }
        tr td {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }

  table#aip-summary {
    float: right;
  }
}

table#aip-summary {
  background-color: $h-gm-grey-50;
  border: 1px solid $h-gm-grey-200;
  margin-top: 2px;
  margin-left: 10px;
  width: 220px;

  @media (max-width: 800px) {
    display: none;
  }

  th {
    color: $h-gm-grey-800;
    font-size: 14px;
    padding: 8px 0px;
    text-align: center;
  }

  tr {
    td {
      font-size: 12px;
      padding: 2px 5px;

      &:first-child {
        @extend .h-u-font-weight-bold;
        color: $h-gm-grey-700;
        width: 60px;
        padding-left: 12px;
      }
    }

    &:last-child td {
      padding-bottom: 8px;
    }
  }
}
