# The API governance team is the default owner for everything in the repo.
# (Note: CODEOWNERS follows a "last match wins" system.)
*                             @aip-dev/google

# These AIP editors own the generally-applicable AIP guidance.
# PA-specific directories are owned by their respective teams.
aip/general/*.md              @aip-dev/google

# Team-specific components are owned by those teams.
aip/apps/27*.md               @aip-dev/apps
aip/aog/30*.md                @aip-dev/aog
aip/auth/41*.md               @aip-dev/auth
aip/client-libraries/42*.md   @aip-dev/client-libraries
aip/cloud/26*.md              @aip-dev/cloud-cli
aip/firebase/32*.md           @aip-dev/firebase
