<nav id="aip-nav" class="docs-component-nav">
  <ul class="nav-list">
  	{% for menu in site.data.nav -%}
      <li class="nav-item nav-item-header">{{ menu.title }}</li>
  	  {% if menu.type == "static" -%}
        {% for link in menu.links -%}
          {% if link.relative_url -%}
            <li class="nav-item{% if page.url == link.relative_url %} nav-item-active{% endif %}">
              <a href="{{ link.relative_url | relative_url }}">{{ link.title }}</a>
            </li>
          {% elsif link.absolute_url -%}
            <li class="nav-item">
              <a href="{{ link.absolute_url }}" target="blank">{{ link.title }}</a>
              <svg role="img" class="h-c-icon h-c-icon--arrow-external" style="width: 14px; height: 14px; margin-bottom: -2px;">
                <use xlink:href="#mi-arrow-forward"></use>
              </svg>
            </li>
          {% endif -%}
        {% endfor -%}
      {% elsif menu.type == "matter_group" -%}
        {% assign orderExp = menu.front_matter | append: "." | append: menu.order_by -%}
        {% assign categories = site.pages | where_exp: "p", "p[menu.front_matter]" | sort: orderExp -%}
        {% comment -%} <!--
          Decide what to show in this nav-menu based on the current page.
        --> {% endcomment -%}
        {% if menu.group_by -%}
          {% assign unformatted = true -%}
          {% unless page[menu.front_matter] -%}
            {% for group_by in menu.group_by.with -%}
              {% if page[group_by.front_matter] -%}
                {% assign categories = categories | where_exp: "p", "page[group_by.front_matter][group_by.property] == p[menu.front_matter][menu.group_by.property]" -%}
                {% assign unformatted = false -%}
                {% break -%}
              {% endif -%}
            {% endfor -%}
          {% endunless -%}
          {% if page[menu.front_matter] or unformatted -%}
            {% assign categories = categories | where_exp: "p", "page[menu.front_matter][menu.group_by.property] == p[menu.front_matter][menu.group_by.property]" -%}
          {% endif -%}
        {% endif -%}

        {% for category in categories -%}
          {% if category[menu.front_matter].hidden != true %}
          <li class="nav-item{% if page[menu.front_matter] and category[menu.front_matter][menu.id] == page[menu.front_matter][menu.id] %} nav-item-active{% endif %}">
            <a href="{{ category.url | relative_url }}">
                {% if menu.front_matter == 'aip' -%}
                <span class="aip-number">
                  {{- category[menu.front_matter][menu.id] -}}
                </span>
                {% endif -%}
                {{ category[menu.front_matter][menu.display_name] | default: category.title }}
            </a>
          </li>
          {% endif %}
        {% endfor -%}
      {% endif -%}
  	{% endfor -%}
  </ul>
</nav>
