<nav class="h-c-header__drawer-nav" id="aip-nav-mobile">
  <ul class="h-c-header__drawer-nav-list">
    {% for m in site.data.nav.drawer %}
      {% assign menu = site.data.nav[m] %}
      <li class="h-c-header__drawer-nav-li drawer-heading">
        <div class="drawer-heading-text">{{ menu.shortTitle | default: menu.title }}</div>
      </li>
      {% if menu.type == "static" %}
        {% for link in menu.links %}
          {% if link.uri %}
            <li class="h-c-header__drawer-nav-li" aria-level="1">
              <a href="{{ link.uri | relative_url}}" class="h-c-header__drawer-nav-li-link">
                {{ link.title }}
              </a>
            </li>
          {% elsif link.url %}
            <li class="h-c-header__drawer-nav-li" aria-level="1">
              <a href="{{ link.uri | relative_url}}" class="h-c-header__drawer-nav-li-link">
                {{ link.title }}
              </a>
              <svg role="img" class="h-c-icon h-c-icon--arrow-external" style="width: 14px; height: 14px; margin-bottom: -2px;">
                <use xlink:href="#mi-arrow-forward"></use>
              </svg>
            </li>
          {% endif %}
        {% endfor %}
      {% elsif menu.type == "matterGroup" %}
        {% assign orderExp = menu.frontMatter | append: "." | append: menu.orderBy %}
        {% assign categories = site.pages | where_exp: "p", "p[menu.frontMatter]" | sort: orderExp %}
        {% comment %} Decide what to show in this nav-menu based on the current page. {% endcomment %}
        {% if menu.groupBy %}
          {% assign unformatted = true %}
          {% unless page[menu.frontMatter] %}
            {% for groupBy in menu.groupBy.with %}
              {% if page[groupBy.frontMatter] %}
                {% assign categories = categories | where_exp: "p", "page[groupBy.frontMatter][groupBy.property] == p[menu.frontMatter][menu.groupBy.property]" %}
                {% assign unformatted = false %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endunless %}
          {% if page[menu.frontMatter] or unformatted %}
            {% assign categories = categories | where_exp: "p", "page[menu.frontMatter][menu.groupBy.property] == p[menu.frontMatter][menu.groupBy.property]" %}
          {% endif %}
        {% endif %}
        
        {% for category in categories %}
          <li class="h-c-header__drawer-nav-li" aria-level="1">
            {% include {{ menu.include | default: "mobile-list-item.html"}} category=category menu=menu %}
          </li>
        {% endfor %}
      {% endif %}
    {% endfor %}

    <li class="h-c-header__drawer-nav-li" aria-level="1">
      <button
        type="button"
        class="h-c-header__drawer-nav-close-btn"
        id="h-js-header__drawer-close-btn"
        aria-controls="h-js-header__drawer"
        aria-expanded="true"
        aria-label="Close the navigation drawer"
      >
        Close navigation drawer
      </button>
    </li>
  </ul>
</nav>
