<head>
  <title>
    {%- if site.url contains '0.0.0.0' %}[DEV] {% endif -%}
    {%- if page.aip %}AIP-{{ page.aip.id }}: {% endif %}{{ page.title -}}
  </title>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,maximum-scale=2">
  <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Google+Sans:400,500|Product+Sans:400&amp;lang=en" rel="stylesheet"></link>
  <link rel="stylesheet" type="text/css" media="screen" href="//www.gstatic.com/glue/v22_1/glue.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% for stylesheet in page.css -%}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ stylesheet | relative_url }}?v={{ site.github.build_revision }}">
  {% endfor -%}
  <link rel="stylesheet" type="text/css" media="print" href="{{ '/assets/css/print.css?v=' | append: site.github.build_revision | relative_url }}">
  <script type="text/javascript" src="//code.jquery.com/jquery-3.4.0.min.js"></script>
  <script type="text/javascript" src="//www.gstatic.com/glue/latest/glue-detect.min.js"></script>
  <script type="text/javascript">
    $('html').css('visibility', 'hidden');
    $.when($.ready).then(() => {
      $('html').css('visibility', 'visible');
    });
  </script>
  <script type="text/javascript" src="{{ '/assets/js/global.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  {% for js_script in page.js -%}
  <script type="text/javascript" src="{{ js_script | relative_url }}?v={{ site.github.build_revision }}"></script>
  {% endfor -%}
  {% seo %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140054909-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-140054909-1');
  </script>
</head>
