<nav id="aip-nav" class="docs-component-nav">
  <ul class="nav-list">
  	{% for m in site.data.nav.bar %}
  	  {% assign menu = site.data.nav[m] %}
      <li class="nav-item nav-item-header">{{ menu.title }}</li>
  	  {% if menu.type == "static" %}
        {% for link in menu.links %}
          {% if link.uri %}
            <li class="nav-item{% if page.url == link.uri %} nav-item-active{% endif %}">
              <a href="{{ link.uri | relative_url }}">{{ link.title }}</a>
            </li>
          {% elsif link.url %}
            <li class="nav-item">
              <a href="{{ link.url }}" target="blank">{{link.title}}</a>
              <svg role="img" class="h-c-icon h-c-icon--arrow-external" style="width: 14px; height: 14px; margin-bottom: -2px;">
                <use xlink:href="#mi-arrow-forward"></use>
              </svg>
            </li>
          {% endif %}
        {% endfor %}
      {% elsif menu.type == "matterGroup" %}
        {% assign orderExp = menu.frontMatter | append: "." | append: menu.orderBy %}
        {% assign categories = site.pages | where_exp: "p", "p[menu.frontMatter]" | sort: orderExp %}
        {% comment %} Decide what to show in this nav-menu based on the current page. {% endcomment %}
        {% if menu.groupBy %}
          {% assign unformatted = true %}
          {% unless page[menu.frontMatter] %}
            {% for groupBy in menu.groupBy.with %}
              {% if page[groupBy.frontMatter] %}
                {% assign categories = categories | where_exp: "p", "page[groupBy.frontMatter][groupBy.property] == p[menu.frontMatter][menu.groupBy.property]" %}
                {% assign unformatted = false %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endunless %}
          {% if page[menu.frontMatter] or unformatted %}
            {% assign categories = categories | where_exp: "p", "page[menu.frontMatter][menu.groupBy.property] == p[menu.frontMatter][menu.groupBy.property]" %}
          {% endif %}
        {% endif %}
        
        {% for category in categories %}
          <li class="nav-item{% if page[menu.frontMatter] and category[menu.frontMatter][menu.id] == page[menu.frontMatter][menu.id] %} nav-item-active{% endif %}">{% include {{ menu.include | default: "list-item.html" }} category=category menu=menu%}</li>
        {% endfor %}
      {% endif %}
  	{% endfor %}
  </ul>
</nav>
