{% comment %} When this file is included, it *must* be sent a `start` and `end`
value. This determines which AIPs are rendered in the table. Both values are
inclusive. {% endcomment -%}
<table class="aip-listing">
  <thead>
    <tr>
      <th style="text-align: right;">Number</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {%- for p in site.pages %}
    <!-- prettier-ignore -->
    {%- if p.aip and p.aip.id >= include.start and p.aip.id <= include.end and
    'approved,reviewing,draft' contains p.aip.state %}
    <tr>
      <td style="text-align: right;">{{ p.aip.id }}</td>
      <td>
        <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
        {% if p.aip.state != 'approved' -%}
        <span class="aip-state aip-state-{{ p.aip.state }}">
          {{ p.aip.state | capitalize }}
        </span>
        {% endif -%}
      </td>
    </tr>
    {%- endif %} {%- endfor %}
  </tbody>
</table>
