{% if page.aip.state == 'reviewing' %}
<p id="aip-state-banner" class="callout note">
  This AIP is currently under review. This means that the editors have read it
  and are in high-level concurrence, and while it is not yet fully approved, we
  have a good faith expectation that the AIP will be approved in something
  close to its current state.
</p>
{%- elsif page.aip.state == 'migrating' -%}
<p id="aip-state-banner" class="callout note">
  This AIP has been migrated from the original
  <a href="https://cloud.google.com/apis/design/">Google API style guide</a>.
  The exact prose is still awaiting final approval, but we have a good faith
  expectation that this AIP will be approved with few if any semantic
  differences.
</p>
{%- elsif page.aip.state == 'draft' -%}
<p id="aip-state-banner" class="callout warning">
  This AIP is currently a draft. This means that it is being actively debated
  and discussed, and it may change in non-trivial ways.
</p>
{%- elsif page.aip.state == 'deferred' -%}
<p id="aip-state-banner" class="callout warning">
  This AIP is currently deferred. This means that discussion on the AIP has
  dropped off and it is in an indeterminate state. If you are interested in
  championing this AIP, please
  <a href="{{ site.github.repository_url }}/issues">open an issue</a>.
</p>
{%- elsif page.aip.state == 'rejected' -%}
<p id="aip-state-banner" class="callout important">
  This AIP has been rejected and is not considered a best practice.
</p>
{%- elsif page.aip.state == 'withdrawn' -%}
<p id="aip-state-banner" class="callout important">
  This AIP has been withdrawn and is not considered a best practice.
</p>
{%- elsif page.aip.state == 'replaced' -%}
<p id="aip-state-banner" class="callout important">
  This AIP is no longer the best current practice.<br />
  It has been replaced by
  <a href="{{ page.aip.replacement | relative_url}}">AIP-{{ page.aip.replacement }}</a
  >.
</p>
{% endif -%}
