@import 'colors.scss';

.callout {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 20px;
  color: $h-gm-grey-800;
}

.important {
  @extend .callout;
  background-color: $h-google-yellow-50;
  border: 1px solid $h-google-yellow-200;
}

.note {
  @extend .callout;
  background-color: $h-google-blue-50;
  border: 1px solid $h-google-blue-200;
}

.tldr {
  @extend .callout;
  background-color: $h-google-green-50;
  border: 1px solid $h-google-green-200;
}

.warning {
  @extend .callout;
  background-color: $h-google-red-50;
  border: 1px solid $h-google-red-200;
}

code {
  font-size: 90% !important;
}

.docs-component-main {
  blockquote {
    border-left: 4px solid $h-google-grey-500;
    margin: 20px;
    padding-left: 20px;
  }

  code {
    font-size: 0.9em;
  }

  pre {
    font-size: 14px;
    margin: 20px;
    padding: 9px 14px;

    code {
      color: $h-google-grey-900;
    }
  }
}

.digraph {
  text-align: center;
}
