@import 'hercules';

// Headers
.docs-component-main {
  h1,
  h2,
  h3,
  h4 {
    @extend .h-c-headline;
    @extend .h-has-top-margin;

    // This creates a "fake block" above the header that does not show up
    // anywhere but tricks the browser into thinking that the anchor is 80px
    // higher than it actually is.
    &::before {
      display: block;
      content: ' ';
      height: 80px;
      margin-top: -80px;
      pointer-events: none;
      visibility: hidden;
    }
  }
  h1 {
    @extend .h-c-headline--two;
  }
  h2 {
    @extend .h-c-headline--three;
  }
  h3 {
    @extend .h-c-headline--four;
  }
  h4 {
    @extend .h-c-headline--four;

    &.aip-number {
      line-height: 1em;

      & + h1 {
        margin-top: 0px;
        margin-left: -2px;
      }
    }
  }
}
