.aip-hero .aip-hero-banner {
  margin-top: 3em;
  border-bottom: 1px solid #dadce0; }
  .aip-hero .aip-hero-banner .aip-hero-title {
    font-size: 250%;
    font-weight: bold; }
    .aip-hero .aip-hero-banner .aip-hero-subtitle {
      font-size: 125%;
      margin-top: 1em; }
      .aip-hero .aip-hero-banner .aip-buttons {
        padding-top: 2em;
        padding-bottom: 2em; }
        .aip-hero .aip-hero-banner .aip-buttons > a {
          margin-right: 1em; }
.aip-hero .aip-landing-content {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #dadce0; }
  .aip-hero .aip-landing-content h1 {
    font-size: 160%;
    font-weight: bold; }
    .aip-hero .aip-landing-content p {
      font-size: 115%; }
.aip-hero .aip-shortcuts {
  padding-top: 1em; }
  .aip-hero .aip-shortcuts .aip-shortcut {
    padding-top: 1em; }
    .aip-hero .aip-shortcuts .aip-shortcut > h1 {
      font-weight: bold;
      font-size: 120%; }
      .aip-hero .aip-shortcuts .aip-shortcut > a {
        margin-top: 1em; }
