---
permalink: /assets/css/search.css
---

@import 'colors';
@import 'hercules';

.docs-component-sidebar-toc {
  display: none;
}

.primary-search {
  margin-top: 20px;

  input {
    font-size: 24px;
    height: 48px;
    padding-left: 8px;

    @media (min-width: 1024px) {
      margin-right: 10px;
      width: 500px;
    }
  }

  button.h-c-button {
    margin-top: 1px;
  }
}

#tipue_search_content {
  margin-left: 2px;

  #tipue_search_results_count {
    color: $h-gm-grey-700;
    font-size: 13px;
    font-style: italic;
  }

  .tipue_search_content_title {
    @extend .h-c-headline;
    @extend .h-c-headline--four;
    @extend .h-has-top-margin;
  }

  .tipue_search_content_url {
    font-size: 75%;
    a {
      color: $h-google-green-400;
      &:before {
        content: '{{ site.url }}';
      }
    }
  }

  .tipue_search_content_text {
    font-size: 85%;
  }

  .tipue_search_content_bold {
    @extend .h-u-font-weight-bold;
  }
}
