<p id="aip-state-banner" class="callout important">
  This AIP is no longer the best current practice.<br />
  It has been replaced by
  <a href="/{{ aip.replacement_id }}">AIP-{{ aip.replacement_id }}</a>.
</p>
