{% macro render_nav(site, scope_code='general') -%}
<nav id="aip-nav" class="docs-component-nav">
  <ul class="nav-list">
    {# AIPs by Scope -#}
    <li class="nav-item nav-item-header">AIPs by Scope</li>
    {% for scope in site.scopes.values() -%}
    <li class="nav-item{% if site.path.endswith(scope.code) %} nav-item-active{% endif %}">
      <a href="{{ site.relative_uri }}/{{ scope.code }}">{{ scope.title }}</a>
    </li>
    {% endfor -%}

    {# Individual AIPs in this scope. -#}
    <li class="nav-item nav-item-header">AIPs</li>
    {% for aip in site.scopes[scope_code].aips.values() -%}
    <li class="nav-item{% if site.path.split('/')[-1] == '{:d}'.format(aip.id) %} nav-item-active{% endif %}">
      <a href="{{ site.relative_uri }}/{{ aip.id }}">
        <span class="aip-number">{{ aip.id }}</span>
        {{ aip.title }}
      </a>
    </li>
    {% endfor -%}
  </ul>
</nav>
{% endmacro -%}
