<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}" class="glue-flexbox">
  {% include aip-head-tag.html %}
  <!-- prettier-ignore -->
  <body>
    {% include aip-header.html %}
    <div class="glue-page">
      {% if page.bare %}
      {{ content }}
      {% else %}
      <main role="main" id="page-content">
        {% include aip-nav.html %}
        <section id="jump-content">
          <aside id="aip-sidebar" class="docs-component-sidebar">
            {% if page.aip -%}
              {% include aip-summary.html %}
            {% endif -%}
            <section id="aip-toc" class="docs-component-sidebar-toc">
              {% include toc.html html=content h_min=2 h_max=3 %}
            </section>
            <section class="docs-component-sidebar-actions">
              <ul>
                <li><a href="{{ site.github.repository_url }}/issues/">File Bug</a></li>
                <li><a href="{{ site.github.repository_url }}/blob/master/{{ page.path }}">View source</a></li>
                <li><a href="{{ site.github.repository_url }}/edit/master/{{ page.path }}">Edit this page</a></li>
              </ul>
            </section>
          </aside>
          <section id="aip-main" class="docs-component-main">
            {% include aip-breadcrumb.html %}
            {% if page.aip %}
            {% if page.aip.state != 'approved' %}
              {% include aip-state-banner.html %}
            {% endif %}
            <h4 class="aip-number">AIP-{{ page.aip.id }}</h4>
            {% endif %}
            {{ content }}
            {% include aip-footer.html %}
          </section>
        </section>
      </main>
      {% endif %}
    </div>
    {% include aip-closing-scripts.html %}
  </body>
</html>
