---
name: publish
on:
  push:
    branches:
      - master

permissions:
  contents: write
    
jobs:
  github-pages:
    runs-on: ubuntu-latest
    container: python:3.14
    steps:
      - uses: actions/checkout@v3
      - name: Install system dependencies.
        run: apt-get update && apt-get install -y rsync
      - name: Install the site generator.
        run: pip install -r requirements.txt
      - name: Build the static site.
        run: aip-site-gen . out
      - name: Publish the static site to GitHub Pages.
        uses: jamesives/github-pages-deploy-action@v4
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: out
